
<%- include("header",{type:'all'}) %>
   
<div class="container">
       <ul class="posts">
            
       </ul> 
</div>
<script src="http://www.wclimb.site/pagination/pagination.js"></script>       
<script>
        var postList = <%- JSON.stringify(posts) %>;  
        console.log(postList)
        
</script>

<% include footer %>

